# Example config file for GERALD.pl version 1.15 and above
# Lines preceded by a hash are comments

# notify user at end of analysis run
EMAIL_LIST <EMAIL_LIST> 
EMAIL_SERVER <EMAIL_SERVER>
EMAIL_DOMAIN <EMAIL_DOMAIN>

# The email report sent at the end of the analysis run contains hyper-links
# with the following prefix to the run-folder

WEB_DIR_ROOT <WEB_DIR_ROOT>

# Ignore the first base (for example, it could be part of the primer).
# The number of Ys has to match the value of READ_LENGTH - yes, that
# can be awkward to enter manually.
USE_BASES <USE_BASES>
 
#No contam dir!
CONTAM_DIR <CONTAM_DIR>

# Specify the genome reference for alignment
GENOME_FILE <GENOME_FILE>

# Specify where the genome file can be found
GENOME_DIR <GENOME_DIR>

# Specify where the eland genome can be found
ELAND_GENOME <ELAND_GENOME>

# Align against a genomic sample; i.e., allow alignments to arbitrary
# positions of the provided reference.
ANALYSIS <ANALYSIS_TYPE>

#where is gerald!
TOOLS_DIR <TOOLS_DIR>

