
[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
innodb_file_per_table=1
max_connections=300
max_user_connections=150
tmpdir=/tmp:/var/tmp
# replciation
server-id=205

## Master only ##
# log-bin
# log-bin=mysql-bin
# # binlog-do-db=<PRODUCTION_DATABASE>  # input the database which should be replicated
# # binlog-ignore-db=<TEST_DATABASE> 
# binlog-ignore-db=mysql            # input the database that should be ignored for replication

# innodb
innodb_buffer_pool_size=5G
innodb_log_file_size=256M
innodb_flush_log_at_trx_commit=2
innodb_thread_concurrency=8
innodb_flush_method=O_DIRECT

# MyISAM
key_buffer = 256M
max_allowed_packet = 32M
table_cache = 256
sort_buffer_size = 1M
read_buffer_size = 1M
read_rnd_buffer_size = 4M
myisam_sort_buffer_size = 64M

tmp_table_size=1073741824
max_heap_table_size=1073741824

optimizer_search_depth=4

thread_cache = 8
query_cache_size= 32M
join_buffer_size=256K
table_open_cache=512

group_concat_max_len=65535

[mysqld_safe]
err-log=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid


