
p.FM_Typedinpara {
        margin-left:     18.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      7.000pt;
        margin-bottom:   5.000pt;
        word-spacing:    0.250em;
        font-family:     Courier New;
        font-style:      normal;
        font-weight:     bold;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_Typedinpara {
        margin-left:     18.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      7.000pt;
        margin-bottom:   5.000pt;
        word-spacing:    0.250em;
        font-family:     Courier New;
        font-style:      normal;
        font-weight:     bold;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Tabletext {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   10.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     normal;
        font-size:       10.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_Tabletext {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   10.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     normal;
        font-size:       10.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Numberedintro {
        margin-left:     18.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      19.000pt;
        margin-bottom:   6.000pt;
        word-spacing:    0.250em;
        font-family:     Times New Roman;
        font-style:      normal;
        font-weight:     bold;
        font-size:       12.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_Numberedintro {
        margin-left:     18.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      19.000pt;
        margin-bottom:   6.000pt;
        word-spacing:    0.250em;
        font-family:     Times New Roman;
        font-style:      normal;
        font-weight:     bold;
        font-size:       12.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Head1 {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      20.000pt;
        margin-bottom:   2.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       15.0pt;
        color:           #ff0000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_Head1 {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      20.000pt;
        margin-bottom:   2.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       15.0pt;
        color:           #ff0000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Sidebartext {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   3.000pt;
        word-spacing:    0.250em;
        font-family:     Times New Roman;
        font-style:      normal;
        font-weight:     normal;
        font-size:       12.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_Sidebartext {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   3.000pt;
        word-spacing:    0.250em;
        font-family:     Times New Roman;
        font-style:      normal;
        font-weight:     normal;
        font-size:       12.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Note {
        margin-left:     18.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   7.000pt;
        word-spacing:    0.250em;
        font-family:     Times New Roman;
        font-style:      italic;
        font-weight:     normal;
        font-size:       12.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_Note {
        margin-left:     18.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   7.000pt;
        word-spacing:    0.250em;
        font-family:     Times New Roman;
        font-style:      italic;
        font-weight:     normal;
        font-size:       12.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_IndexTitle {
        margin-left:     18.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   20.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       20.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_IndexTitle {
        margin-left:     18.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   20.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       20.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Head2 {
        margin-left:     18.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      24.000pt;
        margin-bottom:   2.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       15.0pt;
        color:           #ff0000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_Head2 {
        margin-left:     18.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      24.000pt;
        margin-bottom:   2.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       15.0pt;
        color:           #ff0000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Tablehead {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   16.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       10.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_Tablehead {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   16.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       10.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Sidebarbulleted {
        margin-left:     18.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -18.000pt;
        margin-top:      0.000pt;
        margin-bottom:   4.000pt;
        word-spacing:    0.250em;
        font-family:     Times New Roman;
        font-style:      normal;
        font-weight:     normal;
        font-size:       11.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_Sidebarbulleted {
        margin-left:     18.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -18.000pt;
        margin-top:      0.000pt;
        margin-bottom:   4.000pt;
        word-spacing:    0.250em;
        font-family:     Times New Roman;
        font-style:      normal;
        font-weight:     normal;
        font-size:       11.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_MappingTableTitle {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      2.000pt;
        margin-bottom:   2.000pt;
        word-spacing:    0.250em;
        font-family:     Times New Roman;
        font-style:      normal;
        font-weight:     normal;
        font-size:       14.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_MappingTableTitle {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      2.000pt;
        margin-bottom:   2.000pt;
        word-spacing:    0.250em;
        font-family:     Times New Roman;
        font-style:      normal;
        font-weight:     normal;
        font-size:       14.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Bulleted {
        margin-left:     30.960pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -12.960pt;
        margin-top:      0.000pt;
        margin-bottom:   5.000pt;
        word-spacing:    0.250em;
        font-family:     Times New Roman;
        font-style:      normal;
        font-weight:     normal;
        font-size:       12.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_Bulleted {
        margin-left:     30.960pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -12.960pt;
        margin-top:      0.000pt;
        margin-bottom:   5.000pt;
        word-spacing:    0.250em;
        font-family:     Times New Roman;
        font-style:      normal;
        font-weight:     normal;
        font-size:       12.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Query {
        margin-left:     18.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   7.000pt;
        word-spacing:    0.250em;
        font-family:     Times New Roman;
        font-style:      italic;
        font-weight:     bold;
        font-size:       12.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_Query {
        margin-left:     18.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   7.000pt;
        word-spacing:    0.250em;
        font-family:     Times New Roman;
        font-style:      italic;
        font-weight:     bold;
        font-size:       12.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Illo {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   14.000pt;
        word-spacing:    0.250em;
        font-family:     Times New Roman;
        font-style:      normal;
        font-weight:     normal;
        font-size:       7.5pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_Illo {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   14.000pt;
        word-spacing:    0.250em;
        font-family:     Times New Roman;
        font-style:      normal;
        font-weight:     normal;
        font-size:       7.5pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Chaptername {
        margin-left:     18.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   20.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       20.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_Chaptername {
        margin-left:     18.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   20.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       20.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Illocaption {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   1.000pt;
        word-spacing:    0.250em;
        font-family:     Times New Roman;
        font-style:      normal;
        font-weight:     bold;
        font-size:       8.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_Illocaption {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   1.000pt;
        word-spacing:    0.250em;
        font-family:     Times New Roman;
        font-style:      normal;
        font-weight:     bold;
        font-size:       8.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Illosidebar {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   1.000pt;
        word-spacing:    0.250em;
        font-family:     Times New Roman;
        font-style:      normal;
        font-weight:     bold;
        font-size:       8.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_Illosidebar {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   1.000pt;
        word-spacing:    0.250em;
        font-family:     Times New Roman;
        font-style:      normal;
        font-weight:     bold;
        font-size:       8.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Sidebartitle {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       14.0pt;
        color:           #ff0000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_Sidebartitle {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       14.0pt;
        color:           #ff0000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Callout {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   20.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     normal;
        font-size:       10.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_Callout {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   20.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     normal;
        font-size:       10.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Tabletextwarn {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   10.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     normal;
        font-size:       10.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_Tabletextwarn {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   10.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     normal;
        font-size:       10.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Chapternumber {
        margin-left:     18.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       20.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_Chapternumber {
        margin-left:     18.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       20.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Sidebarrunin {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   5.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_Sidebarrunin {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   5.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Appendixnumber {
        margin-left:     18.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       20.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_Appendixnumber {
        margin-left:     18.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       20.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Sidebarcaption {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   2.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      italic;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_Sidebarcaption {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   2.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      italic;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Numbered {
        margin-left:     18.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -18.000pt;
        margin-top:      0.000pt;
        margin-bottom:   3.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       10.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_Numbered {
        margin-left:     18.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -18.000pt;
        margin-top:      0.000pt;
        margin-bottom:   3.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       10.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_MappingTableCell {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      2.000pt;
        margin-bottom:   2.000pt;
        word-spacing:    0.250em;
        font-family:     Times New Roman;
        font-style:      normal;
        font-weight:     normal;
        font-size:       12.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_MappingTableCell {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      2.000pt;
        margin-bottom:   2.000pt;
        word-spacing:    0.250em;
        font-family:     Times New Roman;
        font-style:      normal;
        font-weight:     normal;
        font-size:       12.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_HeadRunin {
        margin-left:     18.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   5.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       10.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_HeadRunin {
        margin-left:     18.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   5.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       10.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Caption {
        margin-left:     18.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   20.000pt;
        word-spacing:    0.250em;
        font-family:     Times New Roman;
        font-style:      italic;
        font-weight:     normal;
        font-size:       10.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_Caption {
        margin-left:     18.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   20.000pt;
        word-spacing:    0.250em;
        font-family:     Times New Roman;
        font-style:      italic;
        font-weight:     normal;
        font-size:       10.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Body {
        margin-left:     18.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   7.000pt;
        word-spacing:    0.250em;
        font-family:     Times New Roman;
        font-style:      normal;
        font-weight:     normal;
        font-size:       12.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_Body {
        margin-left:     18.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   7.000pt;
        word-spacing:    0.250em;
        font-family:     Times New Roman;
        font-style:      normal;
        font-weight:     normal;
        font-size:       12.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
OL, UL {
        margin-top: 0px;
        margin-bottom: 0px;
}

span.FM_Superscript {
        font-size:       6.0pt;
        text-decoration: none;
        
}
span.FM_Noteleadin {
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       11.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        text-transform : uppercase;
        
}
span.FM_Bold {
        font-weight:     bold;
        
}
span.FM_Query {
        font-family:     Times New Roman;
        font-style:      italic;
        font-weight:     bold;
        font-size:       9.5pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
span.FM_Emphasis {
        font-style:      italic;
        
}
span.FM_Courier {
        font-family:     Courier New;
        text-decoration: none;
        
}
span.FM_Number {
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       11.0pt;
        color:           #ff0000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
span.FM_Hyperlink {
        font-family:     Times New Roman;
        font-style:      normal;
        font-weight:     normal;
        font-size:       12.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
span.FM_Subscript {
        
}
span.FM_Typedintext {
        font-family:     Courier New;
        font-style:      normal;
        font-weight:     bold;
        font-size:       9.5pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
span.FM_Bulletsymbol {
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       12.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}